body {
  font-family: 'Arial','Meiryo UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  color: #2e2e2e;
  background-color: #fdfbfb;
}
h1 {
  font-size: 20px;
  width: 519px;
  padding: 5px 12px;
  background-color: #ebebee;
  border-left: solid 5px #f71808;
  margin-bottom: 20px;
}
.confirm {
  width: 500px;
  margin-left: 8px;
  padding: 12px 13px;
  border: solid 3px #e7e5e5;
  border-radius: 8px;
  background-color: #f8f8fa;
}
.buttons {
  display: flex;
  column-gap: 15px;
}
.button0, .button1 {
  color: #fdfdfd;
  font-size: 12px;
  padding: 5px 10px 5px;
  border: none;
}
.button0 {
  background-color: #b5b5b8;
  border-bottom: 3px solid #7a7a7c;
  border-radius: 5px;
}
.button0:hover {
  margin-top: 2px;
  background-color: #bebec2;
  border-bottom: 1px solid #7a7a7c;
}
.button1 {
  background-color: #eba234;
  border-bottom: 3px solid #7a7a7c;
  border-radius: 5px;
}
.button1:hover {
  margin-top: 2px;
  background-color: #e08600;
  border-bottom: 1px solid #7a7a7c;
}